html{
    scroll-behavior:smooth;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;

}
body{
    background-color: antiquewhite;
    color:var(--text-dark);
}
.container{
    width:90%;
    max-width: 1200px;
    margin: 0 auto;
}
.main-header{
    color:black;
    background-color:aliceblue;
    margin-top: 20px;
    margin-left: 20px;

}
.main-header.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 20px;
    font-weight: 700;
}
.logo-mano{
    color:var(--bg-dark);

    letter-spacing: 2px;
    background-image: url();
    color:cadetblue;
    font-style:italic;
}
.main-nav ul{
    list-style: none;
    display: flex;
}
.main-nav li{
    margin-left: 30px;

}
.main-nav a{
    text-decoration: none;
    color:var(--bg-dark);
    font-size: 14px;
    font-weight: 700;
    padding: 5px 0;
    transition:color 0.3s;
    text-transform: uppercase;
}
.main-nav a:hover,
.main-nav a.active{
    color:var(--primary-color);
}
.main-nav .arrow{
    font-size: 10px;
    margin-left:5px;
}

/*  hearo sections styling  */
.hero-section{
    /*  for the background image placeholder */
    background: linear-gradient(black);
    background: url(../images/image.png);
    height: 600px;
    background-position: no-repeat;
    background-size:auto;
    display:flex;
    align-items: center;
    color:var(--text-dark);
    text-align:left;
}
.hero-content{
    max-width: 600px;

}
.hero-content h1{
    font-size: 48px;;
    line-height: 1.2;;
    margin-bottom: 20px;
    font-weight: 700;
    white-space: pre-line;

}
.hero-content p{
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}
.buttom-primary{
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--primary-color);
    color:var(--text-dark);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    border: 2px solid var(--primary-color);
    transition: background-colore 0.3s , border-color 0.3s;
    cursor: pointer;

}
.button-primary:hover{
    background-color: transparent;
    border-color: var(--primary-color);
    
}
:root{
    --dark-background:black;
    --text-color:white;
    --primary-color:#ffffff;
    --light-text: gray;
}

/*  for the about us sections  */
.page-banner h1{
    text-align: justify;
    padding: 20px;
    background: #f4f4f4;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    border-radius:20px;
    transition: 0.3s;
}
.page-banner h1:hover{
   transform:translateY(-10px);
   background-color:lightskyblue;   
}


.page-content{
display: flex;
justify-content: space-between;
align-items: center;
gap: 30px;
padding: 20px;
}
.page-banner.page-content{
    width: 10%;
}
.page-banner.image img{
    width: 50px;
    border-radius: 10px;
}