html{
    scroll-behavior:smooth;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;

}
body{
    background-color: antiquewhite;
    color:var(--text-dark);
}
.container{
    width:90%;
    max-width: 1200px;
    margin: 0 auto;
}
.main-header{
    color:black;
    background-color: blanchedalmond;
    margin-top: 20px;
    margin-left: 20px;

}